.nft__page {
  nav {
    display: flex;
    margin-top: 5rem;
    ul {
      list-style: none;
      text-decoration: none;
      display: flex;
      justify-content: space-between;
      gap: 1rem;
      width: 50%;
      font-weight: 400;
      font-size: 15px;
      margin-left: 9.7rem;
    }
    .location {
      margin-left: 10rem;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 2rem;
      font-size: 1.5rem;
      color: #b4b4b4;;
      border: 2px solid #b4b4b4;
      border-radius: 8px;
      width: 161px;
      height: 48px;
      margin-left: 20%;
    }
  }
  section{
    display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 1.5rem;
      margin: 3% 10%;
  }
}
