.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 5rem;
  padding-top: 1.5rem;
  padding-right: 5rem;
  .logo {
    transform: scale(0.8);
  }
  ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 30%;
    font-weight: 400;
    font-size: 20px;
    .li {
      text-decoration: none;
    }
    .li:hover {
      cursor: pointer;
    }
  }

  button {
    background: linear-gradient(90deg, #a02279 11.45%, #a02279 11.45%);
    border-radius: 10px;
    width: 170px;
    height: 48px;
    border: none;
    font-size: 1.2rem;
    color: white;
    font-family: "Red Rose";
    font-style: normal;
    line-height: 20px;
    &:hover {
      cursor: pointer;
      filter: brightness(1.2);
    }
  }
}
