.nftcard {
  border: 1px solid #d7d7d7;
  width: 292px;
  height: 378px;
  background: linear-gradient(124.4deg, #ffffff 10.8%, #ffffff 87.34%);
  border-radius: 15px;
  .card__img {
    width: 260px;
    height: 265px;
    margin-top: 1.5rem;
  }
  .card__content{
    display: flex;
    justify-content: space-between;
    margin: 0 7%;
    p{
        color: #434343;
        font-family: 'Red Rose';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
    }
    .card__content-one{
        text-align: left;
    }
    .card__content-two{
        text-align: right;
        .per__night{
            font-weight: 700;
        }
    }
  }
  .rating{
    text-align: left;
    margin: 0 7%;
   .icon{
    color: #A02279 ;
   }
  }
}
